{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,400;1,700&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body> 
    
<header class="main_header">

<menu class="main_menu">

<li class="main_menu_item">
    <a href="#" class="main_menu_link">Home</a>
</li>
<li class="main_menu_item">
    <a href="#" class="main_menu_link">Courses</a>
</li>
<li class="main_menu_item">
    <a href="#" class="main_menu_link">Sign up</a>
</li>

</menu>

<h1 class="link_start_kours">
    <a href="#">
        Start course
    </a>
</h1>

</header>

<main>



</main>

<footer>


    
</footer>

</body>
</html>